# HOST related variables
HOST_PORT_PREFIX=401

# For versions previous to 11, a license file is necessary
# HOST_MSR_LICENSE_FILE=c:\path\to\MicroservicesRuntimeLicense.xml


# GUEST related variables
# According to build, the home path of Integration Server may vary
GUEST_IS_HOME=/opt/softwareag/IntegrationServer

# Reusability variables
CONTAINER_IMAGE=_your_msr_image_here_
# e.g.
# CONTAINER_IMAGE=ibmwebmethods.azurecr.io/webmethods-microservicesruntime

CONTAINER_IMAGE_TAG=_your_fix_level_here_
# e.g.
# CONTAINER_IMAGE_TAG=11.1.0.9
# or older
# CONTAINER_IMAGE_TAG=10.15.0.25-slim

# Example of officially available container image
# CONTAINER_IMAGE=ibmwebmethods.azurecr.io/webmethods-microservicesruntime
# CONTAINER_IMAGE_TAG=10.15

## Change only if needed

# Uncomment for versions older than 11
# GUEST_LICENSE_FILE_MOUNT_POINT=/tmp/license.xml

GUEST_APP_PROPS_MOUNT_POINT=/tmp/application.properties

IS_ADMIN_PWD=NotManage
